# Ignore where bot token is kept
API_KEYS.py
utils/__pycache__/
utils/db.py
data/error.txt
data/storedPolls.json

# Ignore vs code specific files
.vscode/
*.code-workspace
# Byte-compiled / optimized / DLL files
__pycache__/
cogs/__pycache__/
*.py[cod]
*$py.class
*.del