# Ignore where bot token is kept
API_KEYS.py
utils/

# Ignore vs code specific files
.vscode/
*.code-workspace
# Byte-compiled / optimized / DLL files
__pycache__/
cogs/__pycache__/
*.py[cod]
*$py.class

requirements.txt